.App {
  text-align: center;
  height: 900px;
  background-color: #007078;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

h1 {
  background-color: #00bac7;
  padding: 30px;
  background-image: url("https://www.transparenttextures.com/theme/images/transparent.png");
  font-family: "Permanent Marker", cursive;
  margin: auto;

  width: 80%;
  padding: 70px auto;
  border: 3px solid grey;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 140px;
}

h3 {

font-size: 25px;

}

input {
  font-size: 60px;
  margin: 30px 20px;
  height: 200px;
  width: 120px;
  border:
}
